{
    "ModernDistributions": {
        "AlmaLinux": [
            {
                "Name": "AlmaLinux-9",
                "FriendlyName": "AlmaLinux OS 9",
                "Default": true,
                "Amd64Url": {
                    "Url": null,
                    "Sha256": null
                },
                "Arm64Url": {
                    "Url": null,
                    "Sha256": null
                }
            }
        ]
    }
}
